{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADR Viewer</title>

    <link rel="stylesheet" href="/css" />
    
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  </head>

  <body>
    <main>
      <div hx-ext="ws" ws-connect="/socket">
        {{template "main" .}}
      </div>
    </main>

    <script type="text/javascript" defer>
      function setSearchField(str) {
        const inputField = document.getElementById('search');
        inputField.value = str || '';
      }

      // Update search field when page is loaded
      const urlParams = new URLSearchParams(window.location.search);
      setSearchField(urlParams.get('q'));
      
      // Update search field when history is updated
      document.addEventListener("htmx:pushedIntoHistory", function(evt) {
        console.log("htmx:pushedIntoHistory", evt);
        const urlParams = new URLSearchParams(evt?.detail?.path.replace('/?', ''));
        setSearchField(urlParams.get('q'));
      });
    </script>
  </body>
</html>
{{end}}